.projects-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:30px;
}

.project-card{
  background:#1e293b;
  padding:25px;
  border-radius:20px;
  transition:0.3s;
}

.project-card:hover{
  transform:translateY(-8px);
}

.project-card h3{
  color:#38bdf8;
  margin-bottom:15px;
}

.project-card p{
  color:#cbd5e1;
  line-height:1.7;
}